body {
    background-color: #f4f4f4;
    color: #333;
}

/* CONTAINER */
.contact-container {
    max-width: 500px;
    margin: 100px auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
}

/* TITRE */
.contact-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #1e3c72;
}

/* FORMULAIRE */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input,
textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
    min-height: 120px;
}

/* BOUTON */
button {
    padding: 10px;
    background-color: #1e3c72;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #6a11cb;
}

/* MESSAGES */
.success {
    color: green;
    margin-bottom: 10px;
}

.error {
    color: red;
    margin-bottom: 10px;
}
