footer {
    margin: -8px;
    height: 50px;
    margin-bottom: -10px;
    padding: 10px;
    background-color: #1e3c72; /* même bleu que header */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

div.lien-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    font-size: 20px;
}

div.lien-footer a {
    color: white; /* texte clair pour contraste */
    text-decoration: none;
}

div.lien-footer a:hover {
    color: #6a11cb; /* léger survol clair */
}
