header {
    margin: -8px;
    height: 50px;
    margin-bottom: -10px;
    padding: 10px;
    position: sticky;
    top: 0px;
    background-color: #1e3c72;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: 999;
}

div.e-portfolio {
    position: absolute;
}

div.lien {
    position: absolute;
    right: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    font-size: 20px;

}

div.lien a {
    color: white;
    /* texte clair pour contraste */
    text-decoration: none;
}

div.lien a:hover {
    color: #6a11cb;
    /* léger survol clair */
}

.subheader {
    position: sticky;
    top: 70px;
    height: 30px;
    padding-top: 5px;
    background-color: #6a11cb;
    z-index: 999;
    margin: -8px;
}

/* DROPDOWN */
.dropdown {
    position: relative;
    z-index: 999;
}

/* LIEN */
.dropdown-link {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 5px;
}

/* MENU */
.dropdown-content {
    position: absolute;
    top: 35px;
    left: 0;
    background-color: #6b11cb;
    min-width: 220px;
    border-radius: 5px;
    z-index: 100;

    /* Animation */
    opacity: 0;
    visibility: hidden;
    transform: translateY(-5px);

    transition:
        opacity 0.25s ease,
        transform 0.25s ease,
        visibility 0s linear 0.25s;
    z-index: 999;
}

/* LIENS DU MENU */
.dropdown-content a {
    padding: 8px 12px;
    text-decoration: none;
    color: black;
    display: block;
}

.dropdown-content a:hover {
    background-color: #7a29d1;
}

/* AFFICHAGE AU HOVER */
.dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);

    transition:
        opacity 0.25s ease,
        transform 0.25s ease,
        visibility 0s;
}